@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 249, 250, 251;
    --brand-color: #000000;
}

[class~="dark"] {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 23, 42;
    --background-end-rgb: 15, 23, 42;
    --brand-color: #3b82f6;
    /* Lighter brand color in dark mode */
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    transition: background-color 0.3s ease, color 0.3s ease;
}